#version: "3.9"

services:
  app1:
    build: .
    container_name: notes-app-1
    expose:
      - "8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: ${DATABASE_URL}

  app2:
    build: .
    container_name: notes-app-2
    expose:
      - "8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: ${DATABASE_URL}

  db:
    image: postgres:16
    container_name: notes-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  nginx:
    image: nginx:alpine
    container_name: notes-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
    depends_on:
      - app1
      - app2
volumes:
  pgdata: